// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

// Variables
$font-primary: "Google Sans Flex", sans-serif;
$font-secondary: "Geom", sans-serif;

// Colores
$web-bg: rgba(59, 130, 246, 0.15);
$web-text: #346fbd;
$backend-bg: rgba(16, 185, 129, 0.15);
$backend-text: #448d75;
$mobile-bg: rgba(168, 85, 247, 0.15);
$mobile-text: #9d5ed7;

$achievement-bg: rgba(250, 204, 21, 0.1);
$achievement-border: 2px solid rgba(250, 204, 21, 0.3);
$achievement-icon: #ba9500;

$project-link: #3b82f6;
