@use "variables" as *;

.app-layout {
  min-height: 100vh;
  padding: 20px;
  background: var(--dynamic-bg);
  background-size: 200% 200%;
  color: var(--text-color);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar main";
  gap: 20px;
  align-items: stretch;

  animation: gradientMove 20s ease infinite;
  transition: background 0.5s ease;

  .app-content {
    grid-area: main;
    background: var(--background-container);
    border: var(--border-container);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 30px;
    box-shadow: var(--boxshadow-container);

    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
  }
}
