@use "variables" as *;

.app-layout {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  background: var(--dynamic-bg);
  background-size: 200% 200%;
  color: var(--text-color);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar main";
  gap: 20px;
  align-items: stretch;

  animation: gradientMove 20s ease infinite;
  transition: background 0.5s ease;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar"
      "main";
    padding: 10px;
  }

  .app-content {
    grid-area: main;
    background: var(--background-container);
    border: var(--border-container);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 30px;
    box-shadow: var(--boxshadow-container);

    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
  }
}

.mobile-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 9999;
  gap: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--primary-color);
  }

  p {
    font-size: 18px;
    max-width: 400px;
    color: var(--text-color);
  }
}
